$s0: 64px;
$s1: 48px;
$s2: 32px;
$s3: 28px;
$s4: 24px;
$s5: 20px;
$s6: 16px;
$s7: 12px;
$s8: 8px;
$s9: 4px;
$s10: 2px;

$sizes: $s0, $s1, $s2, $s3, $s4, $s5, $s6, $s7, $s8, $s9, $s10;

$breakpointPhone: 600px;
$breakpointTablet: 1200px;